@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

html,
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgba(251,0,255,1) 15%, rgba(252,176,69,1) 56%, rgba(255,0,0,1) 100%);
}

.calculator {
    width: 55rem;
    height: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3rem;
}

.display {
    width: 50rem;
    height: 10rem;
    border-radius: 2rem;
    padding: 0 1rem;
    background:rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 10rem;
    font-family: Montserrat;
    color: white;
}

a, button {
    height: 10rem;
    width: 10rem;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2rem;
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:active {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.7);
}

.buttons {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}